<h1><%= @article.title  %>
  <%= link_to articles_edit_path do %>
  <i class="fa fa-pencil" aria-hidden="true"></i>
  <% end %>
  <%= link_to article_path(@article),
      method: :delete,
      data: { confirm: "Are you sure?" } do %>
      <i class="fa fa-trash-o" aria-hidden="true"></i>
      <% end %>

  </h1>
<p>
  <strong>Created at : </strong><%= @article.created_at.strftime('%Y/%m/%d') %>
  - <strong>Updated at : </strong><%= @article.updated_at.strftime('%Y/%m/%d') %>
</p>

<p><%= @article.content %></p>


<p>
<%= link_to "Back", articles_path %>
</p>
